### Importação dos dados

In [4]:
import pandas as pd

# Caminhos locais para os arquivos CSV
url = "base-de-dados-challenge-1/loja_1.csv"
url2 = "base-de-dados-challenge-1/loja_2.csv"
url3 = "base-de-dados-challenge-1/loja_3.csv"
url4 = "base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [6]:
# 1. Análise do faturamento

import matplotlib.pyplot as plt

# Cálculo do faturamento por loja
faturamento1 = loja["Preço"].sum()
faturamento2 = loja2["Preço"].sum()
faturamento3 = loja3["Preço"].sum()
faturamento4 = loja4["Preço"].sum()

# Criação de um DataFrame com os resultados
faturamentos = pd.DataFrame({
    "Loja": ["Loja 1", "Loja 2", "Loja 3", "Loja 4"],
    "Faturamento": [faturamento1, faturamento2, faturamento3, faturamento4]
})

# Visualização dos dados
plt.figure(figsize=(10,6))
plt.bar(faturamentos["Loja"], faturamentos["Faturamento"], color='skyblue')
plt.title("Faturamento Total por Loja", fontsize=14)
plt.ylabel("Faturamento (R$)", fontsize=12)
plt.xlabel("Loja", fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.5)

# Destacar a loja com menor faturamento
menor_faturamento = faturamentos["Faturamento"].min()
loja_menor = faturamentos.loc[faturamentos["Faturamento"] == menor_faturamento, "Loja"].values[0]
plt.text(faturamentos["Loja"].tolist().index(loja_menor), menor_faturamento + 1000, "Menor Faturamento", 
         ha='center', va='bottom', color='red', fontsize=10)

plt.show()

# Exibir tabela com os valores
faturamentos.sort_values(by="Faturamento", ascending=False)

ModuleNotFoundError: No module named 'matplotlib'

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja